*{
  margin: auto;
}
:root{
  font-size: 30px;
  /* color: blue; */
  --main-bgc: red;
}
.nav-list > li{
  display: inline-block;
  margin: 10px auto;
}
nav > ul {
  display: flex;
  justify-content: center;
}
/* h1::first-letter{
  color:red;
} */
h2::first-letter{
  color:blue;
  font-size: 50px;
}
h3:first-letter{
  color:green;
}
p::first-line{
  color: blueviolet;
}
p::selection{
  background-color: aquamarine;
}
h1::before{
  content: "@";
  color: burlywood;
}
h2::after{
  content: "\269c";
}
/* p > span{
  color:red
} */
/* h2{
  margin: 10px auto;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 50px;
} */

